# Environment variables
.env/

# Игнорировать папки виртуального окружения
venv/
env/

# Игнорировать временные файлы Python
__pycache__/
*.pyc

# Игнорировать файлы IDE (например, PyCharm)
.idea/

# Игнорировать файлы базы данных SQLite
*.sqlite3

# Игнорировать файлы логов
*.log

# Игнорировать собранные статические файлы
static_collected/

# Игнорировать медиафайлы, загруженные пользователями
media/