__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/


*.so


.Python
build/
dist/
wheels/
*.egg


pip-log.txt
pip-delete-this-directory.txt


.tox/
.coverage
.cache/
nosetests.xml
docs/_build/


.idea/
.vscode/
*.swp
*~
.DS_Store


.env
venv/
env/


db.sqlite3
media/
static_collected/
*.log
*.pot
*.mo