{# blog/templates/blog/blog_detail.html #}
{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <h1 class="my-4">{{ blog_post.title }}</h1>
    {% if blog_post.preview %}
    <img src="{{ blog_post.preview.url }}" class="img-fluid mb-3" alt="{{ blog_post.title }}" style="max-height: 400px; object-fit: cover;">
    {% endif %}
    <p class="lead">{{ blog_post.contents }}</p>
    <p class="text-muted">Опубликовано: {% if blog_post.on_published %}Да{% else %}Нет{% endif %}</p>
    <p class="text-muted">Дата создания: {{ blog_post.date_created|date:"d M Y" }}</p>
    <p class="text-muted">Просмотров: {{ blog_post.count_views }}</p>


    <a href="{% url 'blog:blog_update' slug=blog_post.slug %}" class="btn btn-warning mt-3">Редактировать статью</a>
    <a href="{% url 'blog:blog_delete' slug=blog_post.slug %}" class="btn btn-danger mt-3 ml-2">Удалить статью</a>
    <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary mt-3">Назад к списку</a>

</div>
{% endblock %}