{% extends 'catalog/base.html' %}

{% block title %}Skystore - {{ product.name }}{% endblock %}

{% block header_content %}
<h1 class="display-4">{{ product.name }}</h1>
{% endblock %}

{% block content %}
    <div class="row text-start">
        <div class="col-lg-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p>{{ object.description }}</p>
                    <p>Цена: {{ object.price }}</p>
                    <p>Категория: {{ object.category }}</p>
                    <p>Дата создания: {{ object.date_created }}</p>
                    <p>Дата изменения: {{ object.updated_at }}</p>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                    {% else %}
    
                    {% endif %}
                    <br>
                    <a href="/" class="btn btn-outline-primary mt-3">Вернуться в каталог</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}